* {
  margin: 0;
  padding: 0;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "NowAlt";
  font-style: normal;
  font-weight: normal;
  src: local("Now Alt Regular"),
    url("./fonts/NowAlt-Regular.woff") format("woff");
}

.block {
  @apply w-full mt-12;
}
.block--swap {
  @apply flex flex-col items-center;
  @apply w-full h-auto bg-banano-yellow rounded-xl;
}

.block--swap input {
  @apply text-black text-xs px-3 py-2;
}
.block--swap input::placeholder {
  @apply text-xs;
}

.swap--title {
  @apply text-xs mt-3 text-black font-bold;
}

.swap--button {
  @apply text-2xs bg-banano-green-2 rounded-md;
  transition: 200ms all ease-in;
}

.swap--button:hover {
  background-color: #1ab165;
}
